<html lang="vi"><head>
        
    <title>Zing MP3 VIP - Trải nghiệm không gian âm nhạc đẳng cấp của Zing Mp3</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" type="image/png" href="//static-zmp3.zadn.vn/skins/zmp3-v5.1/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Zing MP3 VIP là dịch vụ nghe nhạc online chất lượng cao dành riêng cho thành viên sở hữu tài khoản VIP. Dịch vụ mạng đến các trải nghiệm mới mẻ trong khi thưởng thức âm nhạc kèm các tiện ích tuyệt vời.">
    <meta property="og:url" content="http://mp3.zing.vn/vip">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:site_name" content="Mp3 Vip">
    <meta property="og:image" content="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/vip_cover_20180920.jpg">
    <link href="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/css/layout.1.6.css" rel="stylesheet" type="text/css">
    <link href="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/css/modal.copyright.css" rel="stylesheet" type="text/css">
    <style>
        /*.payment-container .payment-type--zalopay .has-2button .w-btn{
            float: left;
            width: 50%;
            padding: 0 10px;
        }*/
        .payment-container .payment-type--zalopay .has-2button .w-btn .btn {
            display: block;
            width: 100%;
        }
        .payment-container .list-type--bank li a span.more{
            font-size: 12px;
        }
        .payment-container .list-type--bank li a:hover {
            border: 1px solid #800080;
            box-shadow: none;
        }
        .button-login-zalo{
            background: #1caae5;
            border-color: #1caae5;
            box-shadow: inset 0 0 0 1px #1caae5;
            color: #fff;
        }
        .body .module-faqs .inside ul.dlist li {
            font-weight: normal;
        }
        .body .module-faqs .inside .slstitle{
            color: #333;
        }
        .payment-container .item-p{
            width: 50%;
        }
        @media only screen and (max-width: 768px){
            .payment-container .item-p{
                width: 100%;
            }
        }
        /*.payment-container .w-qrcode .item-qr{
            width: 250px;
            padding-top: 0px;
        }
        .payment-container .w-qrcode .item-and{
            width: 240px;
        }*/
        .none{
            display: none !important;
        }
        
        @media only screen and (max-width: 768px){
            .payment-container .payment-type--zalopay li a {
                height: 75px;
                padding: 12px;
            }
        }
        @media only screen and (max-width: 768px) {
            .payment-container .list-type--bank li a span.more, .payment-container .list-type--bank li img {
                width: 140px;
                height: 50px;
                line-height: 50px;
                margin: 0 auto;
            }
        }
    </style>
    <script async="" src="//www.google-analytics.com/analytics.js"></script><script id="gplatform" async="" defer="" src="https://apis.google.com/js/platform.js" gapi_processed="true"></script><script src="https://stc-sp.zadn.vn/session-sdk/session-sdk.min.js"></script><style type="text/css">.zl-login {  display: -webkit-box;  display: -ms-flexbox;  display: flex;  -webkit-box-align: center;  -ms-flex-align: center;  align-items: center;  font-size: 14px;  cursor: pointer;} .zl-login .zl-login-avatar {  display: block;  -ms-flex-negative: 0;  flex-shrink: 0;  background-repeat: no-repeat;  background-size: cover;  background-position: center center;  width: 32px;  height: 32px;  margin-right: 5px;  border-radius: 100%;} .zl-login .zl-login-info {  -webkit-box-flex: 1;  -ms-flex-positive: 1;  flex-grow: 1;  min-width: 0;  display: -webkit-box;  display: -ms-flexbox;  display: flex;  -webkit-box-align: center;  -ms-flex-align: center;  align-items: center;  max-width: 120px;} .zl-login .zl-login-info.zl-is-dropdown {  position: relative;  min-height: 32px;} .zl-login .zl-login-info.zl-is-dropdown.zl-is-open .zl-login-dropdown-content {  display: block;} .zl-login .zl-login-info.zl-is-dropdown {  position: relative;  min-height: 32px;}.zl-login .zl-login-info.zl-is-dropdown.zl-is-open .zl-login-dropdown-content {  display: block;}.zl-login .zl-login-info.zl-is-dropdown .zl-login-dropdown-content {  display: none;  position: absolute;  top: 100%;  right: 0;  min-width: 160px;  padding-top: 5px;}.zl-login .zl-login-info.zl-is-dropdown .zl-login-dropdown-content ul {  background-color: #fff;  padding: 0;  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);  list-style: none;}.zl-login .zl-login-info.zl-is-dropdown .zl-login-dropdown-content ul li {  text-align: left;}.zl-login .zl-login-info.zl-is-dropdown .zl-login-dropdown-content ul li a {  display: block;  padding: 10px 20px;  color: #111;  border-bottom: 1px solid #f1f1f1;}.zl-login .zl-login-info.zl-is-dropdown .zl-login-dropdown-content ul li a:hover {  background-color: #fafafa;  opacity: 0.85;}.zl-login .zl-login-info.zl-is-dropdown .zl-login-dropdown-content ul li:last-child a {  border-bottom: 0;}.zl-login .zl-login-info .zl-login-username {  position: relative;  padding-right: 15px;}.zl-login .zl-login-info .zl-login-username span {  display: block;  max-width: 100px;  color: #111;  font-weight: 500;  overflow: hidden;  -o-text-overflow: ellipsis;  text-overflow: ellipsis;  white-space: nowrap;}.zl-login .zl-login-info .zl-login-username:before {  position: absolute;  top: 50%;  right: 0;  content: "";  height: 0;  width: 0;  border-left: 5px solid transparent;  border-right: 5px solid transparent;  border-top: 5px solid gray;  margin-top: -3px;}.zalo-login-button {  color: #008fec;  font-size: 14px;  font-weight: 700;}.zalo-login-widget {  margin-left: 10px;}</style>
    <script>
        ZaloLoginWidget.init({
            sessionName: 'zmp3_sid'
        });
    </script>
    <script type="text/javascript">
        //redirect to zingmp3.vn/vip
        //if (location.host.indexOf('zingmp3.vn') > -1 && location.host.indexOf('dev.zingmp3.vn') < 0) {
        //    var newdomain = location.href.replace('zingmp3.vn', 'mp3.zing.vn')
        //    location.href = newdomain;
        //}
        if (location.host.indexOf('mp3.zing.vn') > -1) {
            var newdomain = location.href.replace('mp3.zing.vn', 'zingmp3.vn')
            location.href = newdomain;
        }


        var MP3 = {
            VIP: "",
            VIP_EXPIRE: "",
            ZALO_ID: "",
            ACCOUNT_ID: "0",
            ACCOUNT_NAME: "",
            DISPLAY_NAME: "",
            GENRE_ID: 0,
            BANNER_OFF: 0,
            MP3_URL: "https://zingmp3.vn",
            MP3_VIP_URL: "https://zingmp3.vn/vip",
            XHR_URL: "//zingmp3.vn/xhr", IMG_URL: "//photo-zmp3-td.zadn.vn", STATIC_URL: "//static-zmp3.zadn.vn", SKIN_URL: "//static-zmp3.zadn.vn/skins/zmp3-v5.1", INTER_URL: "", LOG_URL: "", LOG_INFO: "", IEVERSION: 9, AD_OVA: "", MOD: 0, API_VIP_URL: "https://vip.api.zingmp3.vn", API_COMMENT_URL: "", DATE: "", IP: "", IS_PC: 1, OVA_DISABLE: 0, MEDIAID: "", ZLIKE_KEY: "", ZLIKE_TOKEN: "", ITEM_NEXT_URL: '', ITEM_NEXT_TITLE: '', SUGGEST: []};
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id))
                return;
            js = d.createElement(s);
            js.id = id;
            js.async = 1;
            js.defer = 1;
            js.src = "https://apis.google.com/js/platform.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'gplatform'));

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments);
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m);
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-1571128-44', 'auto');
        ga('send', 'pageview');
        ga('create', 'UA-1571128-44', 'auto', {'name': 'mp3'});
    </script>
    <!-- Include Plugin-->
    <script src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/js/jquery.min.js"></script>

</head> 
    
    <body style="">
       <style>
    .zaloplus{
        position: relative;
        margin-bottom: 30px;
        color: #24272b;
        font-weight: 500;
    }
    #footer.bg-footer{
        background-color: #f3f3f3 !important;
        text-align: center;
        padding-top: 50px;
        margin: auto;
        color: #888 !important;
        font-size: 12px;
    }

    .bg-footer .z-license-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bg-footer .z-logo{
        height: 40px;
        width: 40px;
        display: inline-block;
        background-image: url(//static-zmp3.zadn.vn/skins/zmp3-v5.2/images/logo-mp-3.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .require-login-zalo {
        margin-top: 10px;
    }
</style>
<div class="layer-loading hidden">
    <h2>Zing MP3 VIP</h2>
    <p class="textAlign-center"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/loading.gif" alt="Zing Mp3 - VIP"></p>
    <p class="textAlign-center">Bạn vui lòng chờ trong giây lát</p>
</div>
<div canvas="container">
    <div id="wrapper">
        <div class="wrapper-page">
            <div class="zimgmp3Vip-layout">
                <section class="header">
                    <div class="header-container">
                        <div class="js-toggle-left-slidebar js-menu-mobile">
                            <div class="trigger-menu"><span class="three-bars-icon"></span></div>
                        </div>
                        <div class="logo-container">
                            <a href="https://zingmp3.vn" title="Zing Mp3">Zing Mp3 - VIP</a>
                        </div>
                        
                        <a class="fn-login link-login show-on-small" href="#">Đăng nhập</a>
                        
                        <div class="user-profile user-mb show-on-small hidden">
                            
                        </div>
                        <div class="menu-container">
                            <ul>
                                <li><a class="active" title="VIP" href="/vip">VIP</a></li>
                                <li><a title="Gói data" href="//zaloplus.vn/?utm_source=vip_zlp_mp3&amp;utm_medium=menu&amp;utm_campaign=wap_menu&amp;app=mp3">Gói data</a></li>
                                <li><a class="" title="VIP Family" href="/vip-gia-dinh">VIP Family</a></li>
                            </ul>
                        </div>
                        <div class="menu-user">
                            <ul>
                                
                                <li><a class="fn-login" title="Đăng Nhập" href="#">Đăng Nhập</a></li>
                                
                                
                            </ul>
                        </div>
                    </div>
                    <div class="header-sub">
                        <ul>
                            <li><a href="#" class="buy-code">Mua Code</a></li>
                            <li><a href="/vip/insert-code">Nhập Code</a></li>
                            <li><a href="/vip/faqs.html">Hỗ trợ</a></li>
                        </ul>
                    </div>
                </section>
                <section class="body">
                    <div class="body-container">
                        <div class="cover-container cover-home">
                            <div class="inside"><span class="logo-mp3"></span>
                                <h2>Âm nhạc không giới hạn</h2>
                                <!-- <h3>Trở thành VIP với 49.000 VNĐ/ tháng</h3> -->
                                <div class="conver-content">
                                    Dịch vụ nghe nhạc Online chất lượng cao, kết hợp
                                    cùng các tiện ích dành riêng cho thành viên VIP
                                </div>
                            </div>
                            <div class="package">
                                <div class="package__container">
                                    <div class="cover cover--6-month"></div>
                                    <div class="package__info">
                                        <div class="package__month">6 THÁNG</div>
                                        <div class="package__line"></div>
                                        <div class="package__price">
                                            <div class="new-price">
                                                <div class="before-dot">279</div>
                                                <div class="price-block">
                                                    <div class="after-dot">.000</div>
                                                    <div class="unit-currency">VNĐ</div>
                                                </div>
                                            </div>
                                            <s class="old-price">354.000 VNĐ</s>
                                        </div>
                                    </div>
                                    <a class="package__btn" href="#" onclick="zmp3BankingPay.step2(6, 279000, true);">Mua VIP</a>
                                </div>
                                <div class="package__container">
                                    <div class="cover cover--1-year"></div>
                                    <div class="package__info">
                                        <div class="package__month">1 NĂM</div>
                                        <div class="package__line"></div>
                                        <div class="package__price">
                                            <div class="new-price">
                                                <div class="before-dot">499</div>
                                                <div class="price-block">
                                                    <div class="after-dot">.000</div>
                                                    <div class="unit-currency">VNĐ</div>
                                                </div>
                                            </div>
                                            <s class="old-price">708.000 VNĐ</s>
                                        </div>
                                    </div>
                                    <a class="package__btn" href="#" onclick="zmp3BankingPay.step2(12, 499000, true);">Mua VIP</a>
                                </div>
                                <div class="package__container">
                                    <div class="cover cover--2-year"></div>
                                    <div class="package__info">
                                        <div class="package__month">2 NĂM</div>
                                        <div class="package__line"></div>
                                        <div class="package__price">
                                            <div class="new-price">
                                                <div class="before-dot">899</div>
                                                <div class="price-block">
                                                    <div class="after-dot">.000</div>
                                                    <div class="unit-currency">VNĐ</div>
                                                </div>
                                            </div>
                                            <s class="old-price">1.416.000 VNĐ</s>
                                        </div>
                                    </div>
                                    <a class="package__btn" href="#" onclick="zmp3BankingPay.step2(24, 899000, true);">Mua VIP</a>
                                </div>
                                <p class="require-login-zalo has-tips">* Lưu ý: Bạn cần đăng nhập trước khi mua</p>

                            </div>
                        </div>
                        <div class="module-banner">
                            
                            <div class="plan plan--1-month">
                                <div class="plan__title">
                                    VIP 1 THÁNG
                                </div>
                                <div class="plan__line"></div>
                                <div class="plan__content">
                                    Tải app Zing MP3 trên điện thoại <br>
                                    &amp; đăng ký VIP chỉ với
                                </div>
                                <div class="plan__price">
                                    <div class="before-dot">49</div>
                                    <div class="price-block">
                                        <div class="after-dot">.000</div>
                                        <div class="unit-currency">VNĐ</div>
                                    </div>
                                </div>
                                <div class="plan__info">
                                    Tải app <strong>Zing MP3</strong> để
                                    đăng ký ngay
                                </div>
                                <div class="plan__store">
                                    <a target="_blank" rel="nofollow" href="https://play.google.com/store/apps/details?id=com.zing.mp3">
                                        <img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/badge-google-play-vn.svg" alt="play-store">
                                    </a>
                                    <a target="_blank" rel="nofollow" href="https://itunes.apple.com/vn/app/zing-mp3-lite/id992357547">
                                        <img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/badge-app-store-vn.svg" alt="app-store">
                                    </a>
                                </div>
                            </div>
                            <div class="plan plan--family">
                                <div class="plan__title">
                                    VIP FAMILY
                                </div>
                                <div class="plan__line"></div>
                                <div class="plan__content">
                                    Gói VIP cho 6 thành viên chỉ với
                                </div>
                                <div class="plan__price">
                                    <div class="before-dot">89</div>
                                    <div class="price-block">
                                        <div class="after-dot">.000</div>
                                        <div class="unit-currency">VNĐ</div>
                                        <div class="per-month">/tháng</div>
                                    </div>
                                </div>
                                <div class="plan__info">
                                    Tải app <strong>Zing MP3</strong> để
                                    đăng ký ngay
                                </div>
                                <div class="plan__store">
                                    <a target="_blank" rel="nofollow" href="https://play.google.com/store/apps/details?id=com.zing.mp3">
                                        <img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/badge-google-play-vn.svg" alt="play-store">
                                    </a>
                                    <a target="_blank" rel="nofollow" href="https://itunes.apple.com/vn/app/zing-mp3-lite/id992357547">
                                        <img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/badge-app-store-vn.svg" alt="app-store">
                                    </a>

                                </div>
                            </div>
                            

                            


                            
                        </div>
                        <div class="module-about module--update">
                            <h2>Zing MP3 VIP là gì?</h2>
                            <p>Zing MP3 VIP là dịch vụ nghe nhạc Online chất lượng cao, kết hợp cùng các tiện ích dành riêng cho thành viên VIP</p>
                            <ul>
                                <li><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/ic_block.png" alt="Zing Mp3 - VIP"><span>Không bị làm phiền bởi quảng cáo</span></li>
                                <li><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/ic_download.png" alt="Zing Mp3 - VIP"><span>Download nhạc không giới hạn</span></li>
                                <li><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/ic_music.png" alt="Zing Mp3 - VIP"><span>Nghe nhạc chất lượng cao thỏa thích</span></li>
                                <li><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/ic_video.png" alt="Zing Mp3 - VIP"><span>Xem Music Video chất lượng HD</span></li>
                            </ul>
                        </div>
                        <div class="module-quality">
                            <h2>Nghe nhạc chất lượng cao</h2>
                            <div class="left-side">
                                <h4>Chất lượng</h4>
                                <p>Bài hát có chất lượng lossless sẽ giúp bạn có trải nghiệm nghe nhạc trong thính phòng tại nhà.</p>
                                <div class="space m"></div>
                                <h4>Nội dung</h4>
                                <p>Liên tục cập nhật các album và bài hát mới nhất trên thị trường âm nhạc trong và ngoài nước.</p>
                                <div class="space m"></div>
                                <h4>Upload</h4>
                                <p>Thoả thích upload nhạc không giới hạn mà bạn yêu thích lên <span class="fix-drop">Zing MP3</span>.</p>
                            </div>
                            <div class="right-side"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/cover_3g.png" alt="Zing Mp3 - VIP"></div>
                        </div>
                        <div class="module-library">
                            <div class="inside">
                                <h2>Nhập code VIP</h2>
                                <p>
                                    Đã mua code VIP, nhấn vào dưới đây để kích hoạt. <br>
                                    Nghe nhạc, xem MV chất lượng cao không bị làm
                                    phiền bởi quảng cáo và download kho
                                    nhạc chỉ dành riêng cho tài khoản VIP.
                                </p>
                                <a class="btn btn-special btn--sm" href="/vip/insert-code">
                                    Nhập code
                                </a>
                            </div>
                        </div>

                        <div class="module-rating" style="display: none;">
                            <div class="inside">
                                <h2>Đánh giá dịch vụ</h2>
                                <p>Chọn đánh giá của bạn</p>
                                <p><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/star_5.png" alt="Zing Mp3 - VIP"></p>
                                <div class="space l"></div>
                                <div class="textarea">
                                    <textarea placeholder="Nhập nội dung mà bạn muốn góp ý…."></textarea><a class="btn btn-primary btn--m" href="#!btn">GỬI</a>
                                </div>
                                <p class="text-alert"><i class="ic ic-success"></i> Gửi tin nhắn thành công.</p>
                                <p class="text-alert"><i class="ic ic-alert"></i> Gửi tin nhắn thất bại.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <footer id="footer" class="bg-footer">
                    <div class="container">
                        <div class="sub-container">
                            <div class="row">
                                <div class="z-license-logo clearfix">
                                    <span class="z-logo"></span>
                                    <div class="z-license-info">
                                        <div class="z-copyright">
                                            Một sản phẩm của Zalo
                                        </div>
                                    </div>
                                </div>
                                <ul class="z-nav-footer">
                                    <li>
                                        <a class="z-link z-copyright-intro" title="Giới thiệu">Giới thiệu</a>
                                    </li>
                                    <li>
                                        <a href="" class="z-link z-link-special" target="_blank">•</a>
                                    </li>
                                    <li>
                                        <a href="https://mp3.zing.vn/huong-dan/contact" class="z-link " title="Liên hệ" target="_blank">Liên hệ</a>
                                    </li>
                                    <li>
                                        <a href="" class="z-link z-link-special" target="_blank">•</a>
                                    </li>
                                    <li>
                                        <a href="https://adtima.vn/lien-he?utm_source=zingmp3&amp;utm_medium=footer" class="z-link " title="Quảng cáo" target="_blank">Quảng cáo</a>
                                    </li>
                                    <li>
                                        <a href="" class="z-link z-link-special" target="_blank">•</a>
                                    </li>
                                    <li>
                                        <a href="https://docs.google.com/forms/d/1MBR_N1S1vB7LKbSbY0C-03kjDyM-Lp6fGLoyoebJTq0/viewform?edit_requested=true" class="z-link " title="Góp ý" target="_blank">Góp ý</a>
                                    </li>
                                    <li>
                                        <a href="" class="z-link z-link-special" target="_blank">•</a>
                                    </li>
                                    <li>
                                        <a href="https://mp3.zing.vn/tnc" class="z-link" title="Thỏa thuận sử dụng" target="_blank">Thỏa thuận sử dụng</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
<div off-canvas="slidebar-1 left reveal" style="">
    <div class="sidebar-container">
        <div class="sidebar-body">
            <ul class="first">
                <li class="has-collapse"><a class="collapsed active" title="" data-toggle="collapse" href="#collapse-m1" aria-expanded="true" aria-controls="collapse-m1"><strong>VIP</strong> <i class="arrow"></i></a>
                    <div class="collapse in" id="collapse-m1">
                        <ul>
                            <li><a title="" class="buy-vip" href="#">Mua VIP</a></li>
                            <li><a title="" class="buy-code" href="#">Mua Code</a></li>
                            <li><a title="" href="/vip/faqs.html">Hướng dẫn mua VIP</a></li>
                        </ul>
                    </div>
                </li>
                <li class="has-collapse"><a class="collapsed" title="" data-toggle="collapse" href="#collapse-m2" aria-expanded="true" aria-controls="collapse-m1"><strong>3G VIP</strong> <i class="arrow"></i></a>
                    <div class="collapse in" id="collapse-m2">
                        <ul>
                            <li><a title="" href="https://zaloplus.vn?utm_source=mp3_vip&amp;utm_medium=vip_menu&amp;app=mp3">Mua 3G VIP</a></li>
                            <li class="none"><a title="" href="/vip/faqs.html">Hướng dẫn mua 3G VIP</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul>
                
                <li><a class="fn-login" title="Đăng Nhập" href="#">Đăng Nhập</a></li>
                
                
                <li><a title="" href="/vip/faqs.html">Hỗ trợ</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-payment1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal--l">
        <div class="modal-container">
            <div class="title-modal"><span>Chọn hình thức thanh toán</span></div><a class="func-close" title="Đóng lại" data-dismiss="modal" aria-label="Close"><i class="ic ic-close"></i></a>
            <div class="content">
                <div class="payment-container">
                    <div class="item-p">
                        <div class="inside">
                            <a class="link-item" href="#" onclick="zmp3BankingPay.step1();"></a>
                            <span class="w-img"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/ic_123pay.png" alt="Zing Mp3 - VIP"></span>
                            <h2>Internet Banking</h2>
                            <div class="w-p">
                                <p>Cổng thanh toán ngân hàng trực tuyến nhanh chóng và tiện lợi</p>
                            </div>
                            <p><a class="btn btn-default btn--m" href="#" onclick="zmp3BankingPay.step1();">Thanh toán</a></p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div><a class="func-close-mobile" title="Đóng lại" data-dismiss="modal" aria-label="Close">Đóng</a>
    </div>
</div>
<div class="modal fade" id="modal-payment2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal--m">
        <div class="modal-container">
            <div class="title-modal"><span>Thanh toán bằng Zalo Pay</span></div><a class="func-close" title="Đóng lại" data-dismiss="modal" aria-label="Close"><i class="ic ic-close"></i></a>
            <div class="content">
                <div class="payment-container">
                    <div id="from-zalopay" class="w-qrcode has-and">
                        <div class="item-qr"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/ic_qr.png" alt="Zing Mp3 - VIP"></div>
                        <div class="item-and"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/ic_qr_and.png" alt="Zing Mp3 - VIP"></div>
                    </div>
                    <p class="timer">
                        <span>Thời gian còn lại: <span class="time-loading">300</span> giây</span>
                        <a href="#" class="retry none">Thử lại</a>
                    </p>
                    <p class="textAlign-center"><a class="btn btn--m" href="#" onclick="zmp3ZaloPay.step1();" style="min-width:218px;">Quay lại</a></p>
                </div>
            </div>
        </div><a class="func-close-mobile" title="Đóng lại" data-dismiss="modal" aria-label="Close">Đóng</a>
    </div>
</div>
<div class="modal fade" id="modal-payment-success" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal--m">
        <div class="modal-container">
            <div class="title-modal"><span><i class="ic ic-success"></i> Thanh toán thành công</span></div><a class="func-close" title="Đóng lại" data-dismiss="modal" aria-label="Close"><i class="ic ic-close"></i></a>
            <div class="content">
                <div class="payment-container">
                    <div class="list-para">
                        <p>
                            <span class="label">Tài khoản thanh toán:</span>
                            <span class="ctn-label userid">0</span>
                        </p>
                        <p><span class="label">Mã giao dịch:</span><span class="ctn-label transactionid"></span></p>
                        <p><span class="label">Thời gian giao dịch:</span><span class="ctn-label time-payment"></span></p>
                        <p><span class="label">Thời hạn VIP:</span><span class="ctn-label time-expire-vip"></span></p>
                    </div>
                    <div class="space m"></div>
                    <p class="textAlign-center"><a class="btn btn--m" href="/" style="min-width:218px;">Truy cập Zing MP3</a></p>
                </div>
            </div>
        </div><a class="func-close-mobile" title="Đóng lại" data-dismiss="modal" aria-label="Close">Đóng</a>
    </div>
</div>
<div class="modal fade" id="modal-payment-unsuccess" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal--m">
        <div class="modal-container">
            <div class="title-modal"><span><i class="ic ic-alert"></i> Thanh toán thất bại</span></div><a class="func-close" title="Đóng lại" data-dismiss="modal" aria-label="Close"><i class="ic ic-close"></i></a>
            <div class="content">
                <div class="payment-container">
                    <div class="list-para">
                        <p class="alert-tips">Rất tiếc, thanh toán thất bại do giao dịch không thành công!</p>
                        <p><span class="label">Tài khoản thanh toán:</span><span class="ctn-label userid"></span></p>
                        <p><span class="label">Mã giao dịch:</span><span class="ctn-label transactionid"></span></p>
                        <p><span class="label">Thời gian giao dịch:</span><span class="ctn-label time-payment"></span></p>
                    </div>
                </div>
            </div>
        </div><a class="func-close-mobile" title="Đóng lại" data-dismiss="modal" aria-label="Close">Đóng</a>
    </div>
</div>



<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal--m">
        <div class="modal-container">
            <div class="title-modal">
                <span>ĐĂNG NHẬP</span>
            </div>
            <a class="func-close" title="Đóng lại" data-dismiss="modal" aria-label="Close">
                <i class="ic ic-close"></i>
            </a>
            <div class="content">
                <div class="textAlign-center login-zalo sync-zalo">
                    <a href="https://id.zalo.me/account?continue=http://mp3.zing.vn/vip" class="btn btn--m">Đăng nhập bằng Zalo</a>
                </div>
            </div>
        </div><a class="func-close-mobile" title="Đóng lại" data-dismiss="modal" aria-label="Close">Đóng</a>
    </div>
</div>

<div class="modal fade" id="modal-payment-package-card" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal--m">
        <div class="modal-container">
            <div class="title-modal"><span>Chọn gói VIP</span></div><a class="func-close" title="Đóng lại" data-dismiss="modal" aria-label="Close"><i class="ic ic-close"></i></a>
            <div class="content">
                <div class="payment-container">
                    <div class="list-para none">
                        <p class="alert-tips message"></p>
                    </div>
                    <div class="payment-type--zalopay">
                        <ul class="list-type--zalopay">
                            <li><a href="#!" onclick="zmp3CardPay.step2(10000);">
                                    <h5>10 Ngày</h5>
                                    <p class="price">10.000 VNĐ</p></a></li>
                            <li><a href="#!" onclick="zmp3CardPay.step2(20000);">
                                    <h5>20 Ngày</h5>
                                    <p class="price">20.000 VNĐ</p></a></li>
                            <li><a href="#!" onclick="zmp3CardPay.step2(50000);">
                                    <h5>50 Ngày</h5>
                                    <p class="price">50.000 VNĐ</p></a></li>
                            <li><a href="#!" onclick="zmp3CardPay.step2(100000);">
                                    <h5>110 Ngày</h5>
                                    <p class="price">100.000 VNĐ</p>
                                    <p class="old-price">110.000 VNĐ</p>
                                </a></li>
                            <li><a href="#!" onclick="zmp3CardPay.step2(200000);">
                                    <h5>240 Ngày</h5>
                                    <p class="price">200.000 VNĐ</p>
                                    <p class="old-price">240.000 VNĐ</p>
                                </a></li>
                            <li><a href="#!" onclick="zmp3CardPay.step2(500000);">
                                    <h5>720 Ngày</h5>
                                    <p class="price">500.000 VNĐ</p>
                                    <p class="old-price">720.000 VNĐ</p>
                                </a></li>
                        </ul>
                        <div class="space"></div>
                        <p class="textAlign-center"><a class="btn btn--m" href="#" onclick="zmp3Vip.buyVip();" style="min-width:218px;">Quay lại</a></p>
                    </div>
                </div>
            </div>
        </div><a class="func-close-mobile" title="Đóng lại" data-dismiss="modal" aria-label="Close">Đóng</a>
    </div>
</div>
<div class="modal fade" id="modal-payment-card" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal--m">
        <div class="modal-container">
            <div class="title-modal">
                <span>Thanh toán</span></div>
            <a class="func-close" title="Đóng lại" data-dismiss="modal" aria-label="Close"><i class="ic ic-close"></i>
            </a>
            <div class="content">
                <div class="payment-container">
                    <div class="payment-type--card">
                        <form id="form-payment-card" class="main-form">                            
                            <div class="list-para">
                                <p class="alert-tips message"></p>
                                <div class="code-vip-message"></div>
                            </div>
                            <div class="line-form">
                                <p>Chọn nhà mạng:</p>
                                <ul class="list-type--card list-card">
                                    <li class="active">
                                        <a href="#" class="fn-choose-card" data-card="4"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/card_viettel.png" alt="Zing Mp3 - VIP">
                                        </a>
                                    </li>
                                    <li><a href="#" class="fn-choose-card" data-card="2"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/card_mobiphone.png" alt="Zing Mp3 - VIP"></a></li>
                                    <li><a href="#" class="fn-choose-card" data-card="3"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/card_vinaphone.png" alt="Zing Mp3 - VIP"></a></li>
                                </ul>
                            </div>
                            <div class="line-form form-input-card form-seri">
                                <input type="text" name="seri" class="seri" required="" autofocus="">
                                <label>Nhập số Seri trên thẻ…</label>
                            </div>
                            <div class="line-form form-input-card form-code">
                                <input type="text" name="code" class="code" required="" autofocus="">
                                <label>Nhập số code trên thẻ…</label>
                            </div>
                        </form>
                        <div class="textAlign-center has-2button">
                            <div class="w-btn"><a class="btn btn--m" href="#" onclick="zmp3CardPay.step1();">Quay lại</a></div>
                            <div class="w-btn"><a class="btn btn-secondary btn--m fn-submitcard" href="javascript:;">Thanh toán</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div><a class="func-close-mobile" title="Đóng lại" data-dismiss="modal" aria-label="Close">Đóng</a>
    </div>
</div>
<div class="modal fade" id="modal-payment-zalopay" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal--m">
        <div class="modal-container">
            <div class="title-modal"><span>Chọn gói VIP</span></div><a class="func-close" title="Đóng lại" data-dismiss="modal" aria-label="Close"><i class="ic ic-close"></i></a>
            <div class="content">
                <div class="payment-container">
                    <div class="list-para none">
                        <p class="alert-tips message"></p>
                    </div>
                    <div class="payment-type--zalopay">
                        <ul class="list-type--zalopay">
                            <li><a href="#!" onclick="zmp3ZaloPay.step2(10000);">
                                    <h5>10 Ngày</h5>
                                    <p class="price">10.000 VNĐ</p></a></li>
                            <li><a href="#!" onclick="zmp3ZaloPay.step2(20000);">
                                    <h5>20 Ngày</h5>
                                    <p class="price">20.000 VNĐ</p></a></li>
                            <li><a href="#!" onclick="zmp3ZaloPay.step2(50000);">
                                    <h5>50 Ngày</h5>
                                    <p class="price">50.000 VNĐ</p></a></li>
                            <li>
                                <a href="#!" onclick="zmp3ZaloPay.step2(100000);">
                                    <h5>110 Ngày</h5>
                                    <p class="price">100.000 VNĐ</p>
                                    <p class="old-price">110.000 VNĐ</p>
                                </a>
                            </li>
                            <li>
                                <a href="#!" onclick="zmp3ZaloPay.step2(200000);">
                                    <h5>240 Ngày</h5>
                                    <p class="price">200.000 VNĐ</p>
                                    <p class="old-price">240.000 VNĐ</p>
                                </a>
                            </li>
                            <li><a href="#!" onclick="zmp3ZaloPay.step2(500000);">
                                    <h5>720 Ngày</h5>
                                    <p class="price">500.000 VNĐ</p>
                                    <p class="old-price">720.000 VNĐ</p>
                                </a></li>
                        </ul>
                        <div class="space"></div>
                        <p class="textAlign-center"><a class="btn btn--m" href="#" onclick="zmp3Vip.buyVip();" style="min-width:218px;">Quay lại</a></p>
                    </div>
                </div>
            </div>
        </div><a class="func-close-mobile" title="Đóng lại" data-dismiss="modal" aria-label="Close">Đóng</a>
    </div>
</div>
<div class="modal fade" id="modal-payment-internet" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal--m">
        <div class="modal-container">
            <div class="title-modal"><span>Chọn gói VIP</span></div><a class="func-close" title="Đóng lại" data-dismiss="modal" aria-label="Close"><i class="ic ic-close"></i></a>
            <div class="content">
                <div class="payment-container">
                    <div class="payment-type--zalopay">
                        <ul class="list-type--zalopay">
                            <!-- <li>
                                <a href="#" onclick="zmp3BankingPay.step2(1, 49000);">
                                    <h5>30 ngày</h5>
                                    <p class="price">49.000 VNĐ</p> 
                                    <p class="old-price">59.000 VNĐ</p>                                  
                                </a>
                            </li> -->
                            <li>
                                <a href="#" onclick="zmp3BankingPay.stepBuyVip(6, 279000);">
                                    <h5>6 tháng</h5>
                                    <p class="price">279.000 VNĐ</p>                                    
                                    <p class="old-price">354.000 VNĐ</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="zmp3BankingPay.stepBuyVip(12, 499000);">
                                    <h5>1 năm</h5>
                                    <p class="price">499.000 VNĐ</p>                                    
                                    <p class="old-price">708.000 VNĐ</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="zmp3BankingPay.stepBuyVip(24, 899000);">
                                    <h5>2 năm</h5>
                                    <p class="price">899.000 VNĐ</p>                                    
                                    <p class="old-price">1.416.000 VNĐ</p>
                                </a>
                            </li>
                        </ul>
                        <div>
                            <div class="space" style="border-top: 1px solid #eee;"></div>
                            <div>
                                <div class="zaloplus">
                                    <span style="font-weight: normal; font-size: 0.75em; color: #7c7d80;">Đăng kí gói ZData để trải ngiệm âm nhạc không tốn dung lượng 3G/4G chỉ từ <span style="display: inline-block;">3000đ/ngày.</span> <span style="color: #0287D6;"><a style="color: #67a5ca;font-weight: 400; font-size: 12px;" href="https://zaloplus.vn?utm_source=mp3_vip&amp;utm_medium=vip_popup&amp;app=mp3" target="_blank">Tìm hiểu ngay</a></span></span>
                                </div>
                            </div>
                        </div>
                        <p class="textAlign-center none"><a class="btn btn--m" href="#" onclick="zmp3Vip.buyVip();" style="min-width:218px;">Quay lại</a></p>
                    </div>
                </div>
            </div>
        </div><a class="func-close-mobile" title="Đóng lại" data-dismiss="modal" aria-label="Close">Đóng</a>
    </div>
</div>
<div class="modal fade" id="modal-payment-count-code" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal--s">
        <div class="modal-container">
            <a class="func-close" title="Đóng lại" data-dismiss="modal" aria-label="Close">
                <i class="ic ic-close"></i>
            </a>
            <div class="content">
                <div class="payment-container">
                    <div class="payment-type--zalopay has-scroll disabled" id="form-payment-bank">
                        <div class="title-modal"><span>Số lượng code</span></div>
                        <div class="lstitle-modal">
                            Vui lòng nhập số lượng code cần mua
                        </div>
                        <div class="payment-code-container">
                            <div class="payment-code-row">
                                <div class="payment-code-content">
                                </div>
                                <div class="payment-code-price">
                                    <div class="new-price"></div>
                                </div>
                                <div class="payment-code-count">
                                    <a id="payment-descrese" style="color: #000">-</a>
                                    <span id="payment-count" style="color: #000">1</span>
                                    <a id="payment-increse" style="color: #000">+</a>
                                </div>
                            </div>
                            <div class="space-line l"></div> 
                            <div class="payment-code-row">
                                <div class="payment-code-content">
                                    Thành tiền
                                </div>
                                <div class="payment-code-price">
                                    <div class="new-price" id="total-price"></div>
                                </div>
                                <div class="payment-code-count">
                                </div>
                            </div>
                        </div>
                        <div class="space m"></div>                        
                    </div>
                    <div class="textAlign-center has-2button">
                        <a class="btn btn--xs" href="#" onclick="zmp3BankingPay.step1(true);">Quay lại</a>
                        <a class="btn btn-special btn--xs fn-submitCounter" href="javascript:;">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="func-close-mobile" title="Đóng lại" data-dismiss="modal" aria-label="Close">Đóng</a>
    </div>
</div> 
<div class="modal fade" id="modal-payment-bank" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal--l">
        <div class="modal-container">
            <a class="func-close" title="Đóng lại" data-dismiss="modal" aria-label="Close">
                <i class="ic ic-close"></i>
            </a>
            <div class="content">
                <div class="payment-container">
                    <div class="payment-type--zalopay has-scroll disabled" id="form-payment-bank">
                        <div class="title-modal"><span>Chọn ngân hàng</span></div>
                        <div class="lstitle-modal title-modal-bank">
                            Thẻ ATM có Internet Banking (miễn phí) - Thanh toán gói dịch vụ Zing Mp3 VIP 6 tháng (279.000đ)
                        </div>
                        <div class="list-para textAlign-center">
                            <p id="alert-message" class="alert-tips message none"></p>
                        </div>
                        <ul class="list-type--bank list-banks">
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PCC"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_visa.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PVCB"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_vietcombank.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PVTB"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_vietinbank.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PBIDV"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_bidv.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PAGB"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_agri.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PTCB"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_techcombank.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PSCB"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_sacombank.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li class="has-more show-on-small">
                                <a id="func-more" href="#more"><span class="more">Ngân hàng khác</span></a>
                            </li>
                            
                            <li id="more">
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PACB"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_acb.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PDAB"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_donga.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PVPB"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_vp.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PVIB"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_vib.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PMB"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_mb.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PMRTB"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_maritime.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PEIB"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_eximbank.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PHDB"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_hdbank.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123POCB"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_ocean.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PPGB"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_pg.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PNAB"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_nama.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PGPB"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_gp.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PSGB"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_saigon.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PVAB"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_vieta.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PBAB"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_baca.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                            <li>
                                <a href="#" class="choose-bank fn-choose-bank" data-bank="123PNVB"><img src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/bank_navibank.png" alt="Zing Mp3 - VIP">
                                </a>
                            </li>
                            
                        </ul>
                        <div class="space"></div>                        
                    </div>
                    <div class="textAlign-center has-2button">
                        <a class="btn btn--xs" href="#" onclick="zmp3BankingPay.step1(true);">Quay lại</a>
                        <a class="btn btn-special btn--xs fn-submitbank" href="javascript:;">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="func-close-mobile" title="Đóng lại" data-dismiss="modal" aria-label="Close">Đóng</a>
    </div>
</div>
<section class="z-modal --z--rule-modal z-show" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true" id="rule-footer" style="overflow: hidden">
    <div class="z-modal-inner z-no-pad">
        <div class="z-modal-content">
            <div class="z-buy-download-zone" style="padding: 30px 35px;">
                <div class="--z--zingmp3-logo"></div>
                <div class="z-copyright-content">
                    Giấy phép mạng xã hội: 314/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 17/7/2015
                    <br>
                    <br>
                    Chủ quản: Công Ty Cổ Phần VNG
                    <br>
                    52 Nguyễn Ngọc Lộc, Phường 14, Quận 10, TP. Hồ Chí Minh
                </div>
                <a class="z-login-btn close-modal">Đóng</a>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('.z-copyright-intro').click(function () {
            $('.--z--rule-modal').show();
        })
        $('.close-modal').click(function () {
            $('.--z--rule-modal').hide();
        })
    });
</script>

<script src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/js/main.js"></script>
<script src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/js/swiper.min.js"></script>
<script type="text/javascript">
        
        
</script>
       <script type="text/javascript" src="//static-zmp3.zadn.vn/skins/zmp3-v5.1/js/zmp3.vip.0.2.27.min.js"></script> 
        
<script async="" src="https://stc.za.zaloapp.com/v3/za.js"></script></body></html>